//MainColors====================================================================================================

$BeigeColor: #FFF5E4;
$PeachColor: #FFC4C4;
$PinkColor: #EE6983;
$MaroonColor: #850E35;

